.primary_button,
.outline_button,
.text_button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
}

.primary_button,
.outline_button {
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
}

.outline_button,
.text_button {
  background-color: transparent;
}

.primary_button {
  background-color: var(--theme-primary-bg);
  border: none;
}

.primary_button:hover {
  background-color: var(--theme-primary-bg2);
}

.outline_button {
  border: 2px solid var(--theme-fg);
  color: var(--theme-fg);
}

.outline_button:hover {
  border-color: var(--theme-primary-bg);
  color: var(--theme-primary-bg);
}

.text_button {
  font-size: 1.25rem;
  padding: 0;
  border: none;
  color: var(--theme-primary-bg);
}

.text_button:hover {
  color: var(--theme-primary-bg2);
}
